Body{
	background-color: #3A17E8;
	color: white;
	font-family: 'Shadows Into Light', cursive
	background-position: 0px 0px, 0px 0px, 40px 70px, 40px 70px, 0px 0px, 40px 70px; background-image: linear-gradient(30deg, rgb(68, 68, 85) 12%, transparent 12.5%, transparent 87%, rgb(68, 68, 85) 87.5%, rgb(68, 68, 85)), linear-gradient(150deg, rgb(68, 68, 85) 12%, transparent 12.5%, transparent 87%, rgb(68, 68, 85) 87.5%, rgb(68, 68, 85)), linear-gradient(30deg, rgb(68, 68, 85) 12%, transparent 12.5%, transparent 87%, rgb(68, 68, 85) 87.5%, rgb(68, 68, 85)), linear-gradient(150deg, rgb(68, 68, 85) 12%, transparent 12.5%, transparent 87%, rgb(68, 68, 85) 87.5%, rgb(68, 68, 85)), linear-gradient(60deg, rgb(153, 153, 170) 25%, transparent 25.5%, transparent 75%, rgb(153, 153, 170) 75%, rgb(153, 153, 170)), linear-gradient(60deg, rgb(153, 153, 170) 25%, transparent 25.5%, transparent 75%, rgb(153, 153, 170) 75%, rgb(153, 153, 170)); background-size: 80px 140px; background-color: rgb(85, 85, 102);	
}

h1 {
	text-align: center;
	font-size: 75px;
}
h1:hover {
Color: green;
font-size: 150px;
transform: skewX(20deg);
transform: rotate(20deg);
}
#bannerimage {
Margin: auto; 
display: block;
width: 45%;
}
.col {
width: 45%;
}
.right_col {
float: right;
width: 45%;
}
